<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Credit Card Assistant Bot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <header>
        <h1>🎓 College Course Advisor Bot</h1>
        <p>How can I help you with your course or academic planning?</p>
    </header>

    <main id="chat">
        <div class="message bot">
            <strong>Assistant:</strong>
            <p>Hello! I can help you ?</p>
        </div>
    </main>

    <div class="input-area">

        <textarea
            id="message"
            placeholder="Type your message..."
            rows="1"
        ></textarea>

        <button id="send">Send</button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
